<!DOCTYPE html>
<html>
<head>
<title>Datastore and Firebase Auth Example</title>
<script src="{{url_for('static', filename='script.js')}}"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
<script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css"/>
</head>
<body>

<div id="firebase-auth-container"></div>  <!--used by the firebase scripts for showing login options -->
  <button id="sign-out" hidden="true">Sign out</button>
    <div id="login-info" hidden="true">
      <h2>Login Info</h2>
        {% if user_data %}
      <dl>
        <dt>Name:</dt><dd>{{ user_data['name'] }}</dd>
        <dt>Email:</dt><dd>{{ user_data['email'] }}</dd>
      </dl>

      <form action="/add_directory" method="post">
        Directory Name: <input type="text" name="dir_name"/><input type="submit" value="Add Directory"/>
      </form>

      <h1>{{storage_size}}MB / 5MB</h1>

        <h1>list of directories</h1><br/>
        {% for i in directory_list %}
          <form action="/open_directory/{{ i.name }}" method="post">
            {{ i.name }}<input type="submit" value="Open"/><br/>
          </form>
          <form action="/delete_directory/{{ i.name }}" method="post">
           <input type="submit" value="Delete"/><br/>
          </form>
        {% endfor %}

        <h1>List of Shared Files</h1><br/>
        {% for i in shared_files %}
          <form action="/versions/{{ i.name }}" method="post">
            {{ i.name }}<input type="submit" value="Open Versions"/><br/>
          </form>
        {% endfor %}

      {% elif error_message %}
      <p>Error Message: {{ error_message }}</p>
      {% endif %}
</div>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</body>

<html>
